langchain
langchain-community
typing
speech_recognition
chromadb
flask
pathlib
sentence-transformers
torch
transformers
concurrent
pickle
pypdf
docx2txt
python-docx

ollama

speechrecognition
whisper

numpy
tqdm